# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Application Data
/Application/data/cards-images/
/Application/node_modules/
/Application/log-parser/python-hearthstone/
/Demo/
