<p class="centered"><a class="squared-blue-btn" ng-click="dialogInit(); createDeck = true" href>New Deck</a></p>

<section>
    <div ng-repeat="deck in decks">
        <h2><a ng-click="deck.display = !deck.display" href>[{{ deck.hero }}] {{ deck.name }}</a> <span style="float: right"><a href ng-click="editDeck(deck)">Clone</a> - <a href ng-click="removeDeck(deck)">❌</a></span></h2>
        <div ng-show="deck.display">
            <article ng-repeat="(card_id, num) in deck.cards_object">
                <span class="mana">{{ card_id | hsData: "cost" }}</span>
                <span class="name" style="background-image: url('data/cards-images-bar/{{ card_id }}.png')"><span>{{ card_id | hsData: "name" }}</span></span>
                <span class="num">{{ num }}</span>
            </article>
        </div>
    </div>
</section>

<section ng-if="createDeck">
    <dialog class="styledModal" open>

        <h2>New Deck</h2>

        <form name="deckProperties">
            <b>Name     </b></br><input type="text" ng-model="newDeck.name" name="deckName" placeholder="OP Deck 2016" required></br>
            <b>Character</b></br><input type="text" ng-model="newDeck.hero" name="hero" placeholder="Mage" required></br>
        </form>

        <form ng-submit="dialogAutocompleteSubmit()">
            <b>Add card </b></br><input type="text" ng-model="newCard.name" name="newcardname" placeholder="Far Sight"><i style="padding-left: 5px">{{ newCard.name | cardsByName }}</i></br>
        </form></br>

        <h2>Deck content</h2></br>

        <table>
            <tbody>
                  <tr ng-repeat="card in newDeck.cards">
                    <td>{{ card.name }}</td>
                    <td>x {{card.count}}</td>
                    <td><a ng-click="dialogDeleteCard(card)" href>❌</a></td>
                  </tr>
          </tbody>
          <tfoot ng-if="newDeck.cards.length != 0">
            <tr>
              <td colspan="2"><b>Total cards cards</b></td>
              <td>{{ totalCards }}</td>
            </tr>
          </tfoot>
        </table>

        <p class="centered"><a class="squared-blue-btn" ng-click="dialogCreateDeck()" href>Create deck</a></p>
    </dialog>
</section>
