<div class="preview" ng-if="deck_previewed" ng-click="close_deck_preview()">
    <section class="styledModal" ng-click="$event.stopPropagation()">
        <h2>[{{ deck_previewed.hero }}] {{ deck_previewed.name }} <span style="float: right"><a href ng-click="close_deck_preview()">❌</a></span></h2>
        <article ng-repeat="card in deck_previewed.cards" ng-click="preview_card(card.card_id)" class="link">
            <span class="mana">{{ card.card_id | hsData: "cost" }} <img src="assets/img/mana.png" style="width: 14px"></span>
            <span class="name" style="background-image: url('data/cards-images-bar/{{ card.card_id }}.png')"><span>{{ card.card_id | hsData: "name" }}</span></span>
            <span class="info">{{ card.rate * 100 | number:0 }}%</span>
        </article>
    </section>
</div>

<div class="preview" ng-if="card_previewed" ng-click="close_card_preview()">
    <section class="styledModal" ng-click="$event.stopPropagation()">
        <h2>[{{ card_previewed }}] {{ card_previewed | hsData: "name" }} <span style="float: right"><a href ng-click="close_card_preview()">❌</a></span></h2>
        <img ng-src="http://wow.zamimg.com/images/hearthstone/cards/enus/original/{{ card_previewed }}.png" style="max-width: 100%"/>
    </section>
</div>

<section class="recording_deck" ng-if="record">
    <h2>Recording the last game as</h2>
    <ul>
        <li class="control">
            <a class="squared-blue-btn" href ng-click="record.cards_list = !record.cards_list"><span ng-if="!record.cards_list">Display</span><span ng-if="record.cards_list">Hide</span> the cards played</a>
            <div ng-if="record.cards_list">
                <article ng-repeat="(card_id, card_number) in record.cards_grouped" ng-click="preview_card(card_id)" class="link">
                    <span class="mana">{{ card_id | hsData: "cost" }} <img src="assets/img/mana.png" style="width: 14px"></span>
                    <span class="name" style="background-image: url('data/cards-images-bar/{{ card_id }}.png')"><span>{{ card_id | hsData: "name" }}</span></span>
                    <span class="num">x{{ card_number | number:0 }}</span>
                </article>
            </div>
        </li>
        <li ng-class="{'selected': record.selected == 'linked'}" ng-click="record.selected = 'linked'">
            Instance of
            <select ng-options="deck as deck.name for deck in record.linked.decks" ng-model="record.linked.selected"></select>
        </li>
        <li ng-class="{'selected': record.selected == 'new'}" ng-click="record.selected = 'new'">
            New deck {{ record.hero }}
            <div ng-if="record.selected == 'new'">
                <input type="text" placeholder="Name of the deck" ng-model="record.new.name"/>
                <textarea placeholder="List of advices" rows="4" ng-model="record.new.advices"></textarea>
            </div>
        </li>
        <li ng-class="{'selected': !record.selected}" ng-click="record.selected = ''">
            Ignore this game
        </li>
        <li class="control">
            <a class="squared-blue-btn" href ng-click="record_confirm()">CONFIRM</a>
        </li>
    </ul>
</section>

<section ng-if="!game_state">
    <h2 style="text-align: center; font-size: 20px; margin-top: 50px; border: 0;">{{ waiting_message }}</h2>
</section>

<section ng-if="game_state">
    <h2>Current game informations</h2>
    <table>
        <tbody>
            <tr>
                <th>Your hand:</th>
                <td>{{ player_cards_hand_size }}</td>
                <th>Opponent hand:</th>
                <td>{{ opponent_cards_hand_size }}</td>
            </tr>
            <tr>
                <th>Your deck:</th>
                <td>{{ player_cards_deck_size }}</td>
                <th>Opponent deck:</th>
                <td>{{ opponent_cards_deck_size }}</td>
            </tr>
        </tbody>
    </table>
</section>

<section ng-if="game_state">
    <h2>Opponent prediction</h2>
    <div>
        <article ng-repeat="deck in opponent_deck_prediction" ng-click="preview_deck(deck.deck_id)" class="link">
            <span class="mana" style="font-size: 0.5em">[{{ deck.hero }}]</span>
            <span class="name"><span>{{ deck.name }}</span></span>
            <span class="info">{{ deck.percent * 100 | number:0 }}%</span>
        </article>
    </div>
</section>

<section ng-if="game_state">
    <h2>Advices</h2>
    <ol>
        <li ng-repeat="advice in player_advices">{{ advice.message }}</li>
    </ol>
</section>

<section ng-if="game_state">
    <h2>Prediction plays</h2>
    <div>
        <article ng-repeat="prediction in opponent_plays_prediction" ng-click="preview_card(prediction.card_id)" class="link">
            <span class="mana">{{ prediction.card_id | hsData: "cost" }} <img src="assets/img/mana.png" style="width: 14px"></span>
            <span class="name" style="background-image: url('data/cards-images-bar/{{ prediction.card_id }}.png')"><span>{{ prediction.card_id | hsData: "name" }}</span></span>
            <span class="info">{{ prediction.percent * 100 | number:0 }}%</span>
        </article>
    </div>
</section>

<section ng-if="game_state">
    <h2>Your deck</h2>
    <div>
        <article ng-repeat="card in player_cards_deck" ng-click="preview_card(card.card_id)" class="link">
            <span class="mana">{{ card.card_id | hsData: "cost" }} <img src="assets/img/mana.png" style="width: 14px"></span>
            <span class="name" style="background-image: url('data/cards-images-bar/{{ card.card_id }}.png')"><span>{{ card.card_id | hsData: "name" }}</span></span>
            <span class="num">x{{ card.number | number:0 }}</span>
        </article>
    </div>
</section>
